# ========================================
# FIREBASE CONFIG
# ========================================
# Dapatkan nilai ini dari Firebase Console:
# 1. Buka https://console.firebase.google.com
# 2. Pilih project > Project Settings > General
# 3. Scroll ke "Your apps" > Web app > Config
# ========================================

VITE_FIREBASE_API_KEY=AIzaSyAynHd9yZqF05v61gBWOPIDYXtLhjNLGZU
VITE_FIREBASE_AUTH_DOMAIN=your-koperasi-527.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=koperasi-527
VITE_FIREBASE_STORAGE_BUCKET=koperasi-527.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1093561954234
VITE_FIREBASE_APP_ID=1:1093561954234:web:f335662fd7dd22f8a7b783
